@plugin "@tailwindcss/typography";

@layer base {
  /* ===== Override default Tailwind Typography styles ===== */
  .app-prose {
    @apply prose max-w-none;
    font-size: 1.125rem;
    line-height: 1.8;

    h1,
    h2,
    h3,
    h4,
    th {
      @apply mb-4 text-foreground font-bold;
    }

    p,
    strong,
    ol,
    ul,
    figcaption,
    table,
    code {
      @apply text-foreground;
    }

    a {
      @apply wrap-break-word text-accent font-semibold underline-offset-4 hover:underline focus-visible:no-underline;
    }

    ul {
      @apply overflow-x-clip;
    }

    /* Clean, modern list styling */
    ul,
    ol {
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
      padding-inline-start: 1.5rem;
      padding-inline-end: 0.5rem;
    }

    ul ul,
    ul ol,
    ol ul,
    ol ol {
      padding-top: 0;
      padding-bottom: 0;
      padding-inline-end: 0;
    }

    pre {
      @apply rounded-xl border border-border/80 focus-visible:border-transparent focus-visible:outline-2 focus-visible:outline-accent focus-visible:outline-dashed;
    }

    li {
      @apply marker:text-accent;
    }

    hr {
      @apply border-border;
    }

    img {
      @apply mx-auto border border-border;
    }

    figcaption {
      @apply opacity-75;
    }

    table {
      th,
      td {
        @apply border border-border p-2;
      }

      th {
        @apply py-1.5;
      }

      code {
        @apply break-all sm:break-normal;
      }
    }

    code {
      @apply rounded bg-muted/80 px-1.5 py-0.5 wrap-break-word text-foreground before:content-none after:content-none font-mono text-sm;
    }

    .astro-code code {
      @apply flex-[1_0_100%] bg-inherit p-0;
    }

    blockquote {
      @apply border-s-accent/80 wrap-break-word opacity-80;
    }

    details {
      @apply block w-full text-foreground;
    }

    summary {
      @apply cursor-pointer select-none focus-visible:no-underline focus-visible:outline-2 focus-visible:outline-offset-1 focus-visible:outline-accent;
    }
  }

  /* ===== Code Blocks & Syntax Highlighting ===== */
  .astro-code {
    @apply flex border border-border rounded-xl bg-(--shiki-light-bg) text-(--shiki-light) outline-border [&_span]:text-(--shiki-light);
  }

  html[data-theme="dark"] .astro-code {
    @apply bg-(--shiki-dark-bg) text-(--shiki-dark) [&_span]:text-(--shiki-dark);
  }

  /* Styles for Shiki transformers */
  .astro-code {
    .line.diff.add {
      @apply relative inline-block w-full bg-green-400/20 before:absolute before:-left-3 before:text-green-500 before:content-['+'];
    }
    .line.diff.remove {
      @apply relative inline-block w-full bg-red-500/20 before:absolute before:-left-3 before:text-red-500 before:content-['-'];
    }
    .line.highlighted {
      @apply inline-block w-full bg-slate-400/20;
    }
    .highlighted-word {
      @apply rounded-sm border border-border px-0.5 py-px;
    }
  }
}
